<!-- Daily Activity -->
<link rel="stylesheet" href="activity.component.scss">
<mat-card>
  <mat-card-content class="row">
    <h3 class="mb-30">Login Log</h3>
    <table class="col-xl-3">
      <thead class="bg-light">
        <tr class="border-0">
          <th class="border-0">Name</th>
          <th class="border-0">Ip address</th>
          <th class="border-0">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sarayut</td>
          <td>127.0.0.1</td>
          <td>14 SEP 2024</td>
        </tr>
        <tr>
          <td>Pongpee</td>
          <td>192.168.0.2</td>
          <td>14 SEP 2024</td>
        </tr>
        <tr>
          <td>Ansadang</td>
          <td>192.168.0.3</td>
          <td>14 SEP 2024</td>
        </tr>
        <tr>
          <td>Pongpee</td>
          <td>192.168.0.4</td>
          <td>14 SEP 2024</td>
        </tr>
        <tr>
          <td>Sarayut</td>
          <td>127.0.0.1</td>
          <td>12 SEP 2024</td>
        </tr>
        <tr>
          <td>John doe</td>
          <td>192.168.0.6</td>
          <td>11 SEP 2024</td>
        </tr>
        
    </tbody>
    </table>
    <div class="buttonlogin">
      <button _ngcontent-ng-c3100956700="" mat-raised-button=""
      class="me-8 mb-8 mdc-button mdc-button--raised mat-mdc-raised-button mat-unthemed mat-mdc-button-base"
      mat-ripple-loader-uninitialized="" mat-ripple-loader-class-name="mat-mdc-button-ripple"><span
        class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
        class="mdc-button__label">Details</span><span class="mat-mdc-focus-indicator"></span><span
        class="mat-mdc-button-touch-target"></span></button>
    </div>

    <!-- <div class="d-flex" *ngFor="let activity of activity">
      <p class="fw-bold ps-16 pe-20 fs-12">{{ activity.time }}</p>
      <div class="activity-border">
        <div class="deep">
          <div class="activity-ring">
            <div class="ring {{ activity.ringColor }}"></div>
          </div>
        </div>
        <p class="ps-20 pe-16 activity-message">{{ activity.message }}</p>
      </div>
    </div> -->
  </mat-card-content>
</mat-card>