<!-- Cards -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h2 class="m-b-20">Incoming Order</h2>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>12</span></h2>
                    <p class="m-b-0">update on 16 SEP 2024</p>
                </div>
            </div>
        </div>
          
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                  <h2 class="m-b-20">Production Order</h2>
                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>4</span></h2>
                    <p class="m-b-0">update on 16 SEP 2024</p>
                </div>
            </div>
        </div>
      
        
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                  <h2 class="m-b-20">Waiting Confirmation</h2>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>1</span></h2>
                    <p class="m-b-0">update on 16 SEP 2024</p>
                </div>
            </div>
        </div>
	</div>
</div>



<!-- <div class="row">
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
    <div class="card bg-primary-light">
      <div class="card-body">
        <h2 class="text-muted">Incoming order</h2>
        <div class="metric-value d-inline-block">
          <h1 class="mb-1">5</h1>
        </div>
        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
          <span>NEW</span>
        </div>
      </div>
      <span class="text-muted text-md-right mr-3">Update on 12 SEP 2024</span>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
    <div class="card bg-success-light">
      <div class="card-body">
        <h2 class="text-muted">Production Order</h2>
        <div class="metric-value d-inline-block">
          <h1 class="mb-1">2</h1>
        </div>
        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
          <span>NEW</span>
        </div>
      </div>
      <span class="text-muted text-md-right mr-3">Update on 12 SEP 2024</span>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
    <div class="card bg-danger-light">
      <div class="card-body">
        <h2 class="text-muted">Waiting Order</h2>
        <div class="metric-value d-inline-block">
          <h1 class="mb-1">2</h1>
        </div>
        <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
          <span>Waiting</span>
        </div>
      </div>
      <span class="text-muted text-md-right mr-3">Update on 12 SEP 2024</span>
    </div>
  </div>
</div>



<!-- <div class="row">
  <div class="col-lg-4" *ngFor="let card of cards">
    <mat-card class="overflow-hidden">
      <div>
        <img src="{{ card.image }}" class="w-100" alt="">
      </div> -->
      <!-- <mat-card-content>
        <div>
          <p class="fs-18 lh-lg fw-medium">
            Super awesome, Angular 17 is coming soon!
          </p>
          <p class="op-7">
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
          <button mat-flat-button color="{{card.btn}}" class="fw-normal mt-4">Learn More</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div> --> 
