<h2 mat-dialog-title> {{data.name}}</h2>
<mat-dialog-content style="padding-top: 15px;">
    
    <form [formGroup]="formTagIssue" >
                    
              
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>ความยาวต่อม้วน</mat-label>
          <input matInput  placeholder="Enter your User Id" type="number" formControlName="iss_qty" >
        </mat-form-field>
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>รหัสสินค้า</mat-label>
          <input matInput  placeholder="Enter your User Id"  formControlName="prod_code" >
        </mat-form-field>
        
  

  
  
      </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button  cdkFocusInitial>อนุมัติเบิกจ่าย</button>
</mat-dialog-actions>
